<div>
	<div id="contacts" class="boxDetails col-xs-8 col-xs-offset-2">

    <div" class="contactDetails text-center">
      <div>
				<h1 class="mainHeader">{{contact.firstName}} {{contact.lastName}}</h1>
				<h2 class="companyName">{{contact.company}}</h2>		
				<h5>{{contact.address}} </h5>
				<h5>{{contact.city}}, {{contact.state}} {{contact.zip}}</h5>
			</div>
			<div class="bottomData">
				<h5>{{contact.phone}}</h5>
				<h5>{{contact.email}}</h5>
				<h5>How I know you: {{contact.relationship}}</h5>
			</div>
	      <p ng-if="!contact.favorite">
            <i class="fa fa-star-o fa-lg" aria-hidden="true" ng-click="switchFavorite(contact, true)"></i>
          </p>
        
        <p ng-if="contact.favorite">
                <i class="fa fa-star fa-lg" aria-hidden="true" ng-click="switchFavorite(contact, false)"></i>
            </p>

	</div>
</div>