<div class="text-center" id="view">
  <h1>Contacts</h1>

<div class="input-group input-group-lg col-xs-6 col-xs-offset-3">
    <span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
    <input type="text" class="form-control" placeholder="Find a movie" ng-model="searchText">
  </div>

<div id="contacts">

    <div ng-repeat="contact in contacts | filter: searchText" class="col-sm-6 col-md-4 contact">
      <div class="thumbnail">
        <button class="btn btn-primary detail" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="editContact(contact.id)"></i></button>

          


        <button class="btn btn-primary detail" role="button"><i class="fa fa-search fa-lg" aria-hidden="true" ng-click="contactDetail(contact.id)"></i></button>
        
        	<div class="caption">
        		<h1 class="title">{{contact.firstName}}</h1>
            <h1 class="title">{{contact.lastName}}</h1>
        		<h3 class="overview">{{contact.company}}</h3>   
        		<h6 class="overview">{{contact.email}}</h3>   
        		<p> {{contact.address}}</p>
        		<p> {{contact.city}}, {{ contact.state}}  {{ contact.zip}}</p>
        		<p> {{contact.phone}}</p>


            <p ng-if="!contact.favorite">
                <i class="fa fa-star-o fa-lg" aria-hidden="true" ng-click="switchFavorite(contact, contact.id)"></i>
              </p>

            <p ng-if="contact.favorite">
                <i class="fa fa-star fa-lg" aria-hidden="true" ng-click="switchToNotFavorite(contact, contact.id)"></i>
            </p>

            

            
        	</div>
		        
		      
            <button class="btn btn-primary delete" role="button" ng-click="deleteContact(contact.id)">Delete</button>
       		
     
     </div>
    </div>
   </div>
   </div>